{% extends 'scheduler_web/base.html' %}
{% load staticfiles %}
{% block content %}
<h1 >Servers</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>CPU</th>
        <th>Memory</th>
    </tr>
    {% for ser in server_list %}
    <tr>
        <td><a href="{% url 'serverDetail' ser.pk %}">{{ ser.displayName }}</a></td>
        <td><a href="{% url 'serverDetail' ser.pk %}">{{ ser.address }}</a></td>
        <td>{{ ser.cpuName }}</td>
        <td>{{ ser.memoryAmount }} MB</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
